<div class="container-custom">
  <div id="id01" class="modal">
    <div class="modal-content">
      <div class="container-custom">
        <span onclick="document.getElementById('id01').style.display='none'" class="display-topright">&times;</span>
        <i class="fa fa-address-book-o" aria-hidden="true"></i><p class="left-a"><b>Name:</b> Ken Ng</p>
        <i class="fa fa-envelope-o" aria-hidden="true"></i><p class="left-a"><b>Email me:</b><a a href="mailto:ken.ng1@outlook.com" target="_top"> ken.ng1@outlook.com</a></p>
        <i class="fa fa-globe" aria-hidden="true"></i><p class="left-a"><b>Visit my <a href="https://www.linkedin.com/in/ken-ng1/" style="text-decoration: underline">Linked in</a> page:</b></p>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container-custom">
    <h1>Thanks for visiting, please contact me if you'd like more info!</h1>
    <i class="fa fa-address-book" style="top: 75px;font-size: 20px;" aria-hidden="true"></i><p class="left-a"><b>Name:</b> Ken Ng</p>
    <i class="fa fa-envelope" style="top: 120px;font-size: 20px;" aria-hidden="true"></i><p class="left-a"><b>Email me:</b><a a href="mailto:ken.ng1@outlook.com" target="_top"> ken.ng1@outlook.com</a></p>
    <i class="fa fa-globe" style="top: 168px;font-size: 20px;" aria-hidden="true"></i><p class="left-a"><b>Visit my <a href="https://www.linkedin.com/in/ken-ng1/" style="text-decoration: underline">Linked in</a> page:</b></p>
<br>

  </div>
  <span style="font-family:Arial;font-size:15px; float:right; margin-right: 2%">Built with Node JS</span><img style="height: 30px; float:right" src="images/icons/node.png" alt=""><br>
  <span style="font-family:Arial;font-size:15px; float:right; line-height:50px; margin-right: 2%">Hosted on Heroku</span><img style="height: 45px; float:right" src="images/icons/heroku.png" alt="">
  <p style="margin-left: 2%">&copy; 2017 Ken Ng</p>
</footer>
