<header>
  <div class="logo">
    <a href="/"><img id="brand" src="images/logo.png"</a>
  </div>

  <nav>
    <ul>
      <li><a href="/#skills">about me</a></li>
      <li><a href="/#portfolio">my work</a></li>
      <li><a href="/blog" target="_blank">my thoughts</a></li>
      <a onclick="document.getElementById('id01').style.display='block'"><li class="btn contact">contact me</li></a>
    </ul>
  </nav>


</header>
