<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0" />

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive-grid.min.css">
    <link rel="stylesheet" type="text/css" href="/css/slimmenu.min.css">
    <link rel="stylesheet" type="text/css" href="/css/flexslider.min.css">
    <link rel="stylesheet" href="css/rrssb.css" />
    <link rel="stylesheet" type="text/css" href="/css/custom.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>

    <%- body -%>
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <script src="js/jquery.flexslider.min.js"></script>

    <script type="text/javascript" charset="utf-8">
      $(window).on('load',function() {
        $('.flexslider').flexslider();
      });
    </script>

    <!-- slim menu -->
    <script type="text/javascript" src="js/jquery.slimmenu.min.js"></script>

    <!-- script for slim menu -->
    <script>
      $('#navigation').slimmenu(
        {
        resizeWidth: '800',
        collapserTitle: 'Main Menu',
        animSpeed: 'medium',
        easingEffect: null,
        indentChildren: false,
        childrenIndenter: '&nbsp;'
      });
    </script>

    <script src="js/rrssb.min.js"></script>

  </body>
</html>
