<% layout('layout') -%>
<a id="backtotop"></a>
<section id="top">
  <h1 id="opener">HELLO, I'M KEN A
     <span>WEB DEVELOPER</span>
  </h1>
  <div class="intro">
    <p><strong>" </strong>Thanks for visiting my porfolio. I'm a freelance web developer based in Hong Kong</p>
    <p>In the last 6 months I have ...</p>
    <i>empowered myself to <b>create</b> digital products and</li></i>
    <i>bolstered my understanding of <b>entreprenuership</b>,</li></i>
    <i>so that I can <b>craft</b> my own future<strong> "</strong></li></i>
  </div>
  <img id="portrait" src="images/portrait.jpg" alt="">
</section>

<div class="arrow1 return_scroll">
    <a href="#portfolio">Return to top</a>
</div>

<section id="portfolio">
  <span>My Portfolio</span>
  <h1>Here's some stuff I've been working on.</h1>
  <ul class="shots">
    <li><a><img class="shot shot-1" src="images/hair.png"></a></li>
    <li><a><img class="shot shot-2" src="images/hair.png"></a></li>
    <li><a><img class="shot shot-3" src="images/hair.png"></a></li>
    <li><a><img class="shot shot-4" src="images/hair.png"></a></li>
    <li><a href="/"><img class="shot shot-5" src="images/neca.png"></a></li>
    <li><a><img class="shot shot-6" src="images/hair.png"></a></li>
  </ul>
  <div class="singleButton">
        <a href="https://github.com/kenNg1" class="arrowFade btn dribbbleIcon" target="_blank">See more on my <b>Github</b> profile</a>
  </div>
</section>

<section id="aboutMe">
  <span>Who am I?</span>
  <div class="twoColContent">
    <p>My love of all things design started at an early age, always having that creative edge. This love and passion flourished further when I discovered how to create things with code and my inner geek truly developed.</p>
    <p>Through my years as a UI designer I have had the privilege to have worked with some incredibly talented people - In-house design teams &amp; creative agencies big &amp; small.</p>
    <p>In 2016, I finally made the decision to go it alone and put all the knowledge I’ve learned over the years into becoming a freelance UI designer - and, great news - I have availability for your upcoming UI design project so <a href="#contactMe">let's talk</a>.</p>
    <p>When I'm not sat behind my Mac I'm just your regular family kinda guy, who loves sport and something good to eat.</p>
    <a href="#contactMe">Let's Talk</a>
  </div>
</section>

<!-- <div class="arrow2 return_scroll">
  <a href="#backtotop">Return to top</a>
</div> -->

<div style="border: 1px solid black" class="spacer s2"></div>
<div id="trigger1" class="spacer s0"></div>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="5000" height="5000">
	<path id="word" style="stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 1009.23px; stroke-dashoffset: 1009.23px;" fill="none" stroke="#000000" stroke-width="2"
  d="M182.73102381321428,271.7546825765847 C251.15940951270568,493.7517158692589 469.369905521967,433.52118017460543 577.214237253974,444.8732150937642 C1000.077537992641,430.6831714448156 1035.2905186592657,503.94714150785643 1045.4856776692764,524.337459527876 C1064.4681825631742,562.3024693156717 1090.7456816087438,661.2780697827819 1002.9155467224307,688.9419658556793 C917.627028628076,715.8053277738596 786.8781736131083,714.4840444237867 764.522813420095,714.4840444237867 C409.55198874234543,713.4647970291871 503.42601027943397,731.5120968025298 318.9554428431204,745.7021404514664 C258.07082427430805,759.2320556889803 117.45682302803334,748.540149181268 154.35093651531702,850.7084634536858 C282.0613293558365,1040.8550483496083 307.7051972561585,1228.1636245157292 395.5816785474251,1228.1636245157292 C517.6160539283826,1222.48760705615 503.42601027943397,1077.7491618368745 636.8124205795505,921.6586816984404 C863.8531189627274,711.6460356940017 1025.6486266041115,881.9555695247466 1042.647668939484,898.9546118601196 C1128.6692802698108,984.9762231904386 1162.2074347463367,1037.2902413084576 1107.9218697246474,1145.8613713518243 C1097.845591942285,1166.0139269165488 1001.673729018397,1212.8223760415012 937.6413459372596,1208.2975634072013 C835.47303166483,1160.0514150007762 838.3110403946199,1160.0514150007762 838.3110403946199,1160.0514150007762 C838.3110403946199,1160.0514150007762 843.9870578541992,1148.6993800816174 767.360822149877,1256.5437118136265 C773.0368396094565,1145.8613713518278 767.360822149877,1253.7057030838366 773.0368396094565,1143.023362622038 C676.5445427966064,1097.6152229454026 676.5445427966064,1097.6152229454028 673.7065340668165,1100.4532316751922 C681.1239294302617,1096.7445339934695 696.4106039051343,1100.4532316751922 770.1988308796668,1077.7491618368747 C775.8748483392461,975.5808475644396 769.3579558489101,975.370628806756 781.5508657988256,978.4188562942347 C770.1988308796668,969.9048301048656 781.5508657988256,975.580847564445 849.6630753137787,1049.3690745389774 C934.80333720747,1015.3129697815009 934.80333720747,1015.3129697814995 937.6413459372596,1018.1509785112906 C940.0436828536753,1022.9556523441214 937.6413459372596,1015.3129697815009 878.0431626116757,1103.291240404982 C940.4793546670495,1213.9735808667808 943.3173633968391,1202.3849220661625 943.3173633968391,1211.135572136991 C1090.8938173459042,1452.3663141691163 897.00042750396,1398.9794061525463 821.2829880158818,1409.7961832222709 C785.6023568936939,1414.8934162397277 698.8419496602512,1412.6341919520487 662.3544991476758,1412.6341919520487 C408.518902913547,1412.6341919520487 196.92106746216268,1372.6715339296798 196.92106746216268,1682.2450212820713" >
	<path id="dot" style="stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 44.2974px; stroke-dashoffset: 44.2974px;" fill="none" stroke="#000000" stroke-width="2"
  d="M182.73102381321428,271.7546825765847 C251.15940951270568,493.7517158692589 469.369905521967,433.52118017460543 577.214237253974,444.8732150937642 C1000.077537992641,430.6831714448156 1035.2905186592657,503.94714150785643 1045.4856776692764,524.337459527876 C1064.4681825631742,562.3024693156717 1090.7456816087438,661.2780697827819 1002.9155467224307,688.9419658556793 C917.627028628076,715.8053277738596 786.8781736131083,714.4840444237867 764.522813420095,714.4840444237867 C409.55198874234543,713.4647970291871 503.42601027943397,731.5120968025298 318.9554428431204,745.7021404514664 C258.07082427430805,759.2320556889803 117.45682302803334,748.540149181268 154.35093651531702,850.7084634536858 C282.0613293558365,1040.8550483496083 307.7051972561585,1228.1636245157292 395.5816785474251,1228.1636245157292 C517.6160539283826,1222.48760705615 503.42601027943397,1077.7491618368745 636.8124205795505,921.6586816984404 C863.8531189627274,711.6460356940017 1025.6486266041115,881.9555695247466 1042.647668939484,898.9546118601196 C1128.6692802698108,984.9762231904386 1162.2074347463367,1037.2902413084576 1107.9218697246474,1145.8613713518243 C1097.845591942285,1166.0139269165488 1001.673729018397,1212.8223760415012 937.6413459372596,1208.2975634072013 C835.47303166483,1160.0514150007762 838.3110403946199,1160.0514150007762 838.3110403946199,1160.0514150007762 C838.3110403946199,1160.0514150007762 843.9870578541992,1148.6993800816174 767.360822149877,1256.5437118136265 C773.0368396094565,1145.8613713518278 767.360822149877,1253.7057030838366 773.0368396094565,1143.023362622038 C676.5445427966064,1097.6152229454026 676.5445427966064,1097.6152229454028 673.7065340668165,1100.4532316751922 C681.1239294302617,1096.7445339934695 696.4106039051343,1100.4532316751922 770.1988308796668,1077.7491618368747 C775.8748483392461,975.5808475644396 769.3579558489101,975.370628806756 781.5508657988256,978.4188562942347 C770.1988308796668,969.9048301048656 781.5508657988256,975.580847564445 849.6630753137787,1049.3690745389774 C934.80333720747,1015.3129697815009 934.80333720747,1015.3129697814995 937.6413459372596,1018.1509785112906 C940.0436828536753,1022.9556523441214 937.6413459372596,1015.3129697815009 878.0431626116757,1103.291240404982 C940.4793546670495,1213.9735808667808 943.3173633968391,1202.3849220661625 943.3173633968391,1211.135572136991 C1090.8938173459042,1452.3663141691163 897.00042750396,1398.9794061525463 821.2829880158818,1409.7961832222709 C785.6023568936939,1414.8934162397277 698.8419496602512,1412.6341919520487 662.3544991476758,1412.6341919520487 C408.518902913547,1412.6341919520487 196.92106746216268,1372.6715339296798 196.92106746216268,1682.2450212820713"  >
</svg>
<div class="spacer s2"></div>
<script>
	function pathPrepare ($el) {
		var lineLength = $el[0].getTotalLength();
		$el.css("stroke-dasharray", lineLength);
		$el.css("stroke-dashoffset", lineLength);
	}

	var $word = $("path#word");
	var $dot = $("path#dot");

	// prepare SVG
	pathPrepare($word);
	pathPrepare($dot);

	// init controller
	var controller = new ScrollMagic.Controller();

	// build tween
	var tween = new TimelineMax()
		.add(TweenMax.to($word, 6, {strokeDashoffset: 0, ease:Linear.easeNone})) // draw word for 0.9
		.add(TweenMax.to($dot, 0.1, {strokeDashoffset: 0, ease:Linear.easeNone}))  // draw dot for 0.1
		.add(TweenMax.to("path", 1, {stroke: "#33629c", ease:Linear.easeNone}), 0);			// change color during the whole thing

	// build scene
	var scene = new ScrollMagic.Scene({triggerElement: "#trigger1", duration: 200, tweenChanges: true})
					.setTween(tween)
					.addIndicators() // add indicators (requires plugin)
					.addTo(controller);
</script>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
