<% layout('layout') -%>
<a id="backtotop"></a>
<section id="top" style="">
  <h1 id="opener">HELLO, I'M KEN A
     <span>WEB DEVELOPER</span>
  </h1>
  <div class="intro">
    <p><strong>" </strong>Thanks for visiting my porfolio. I'm a freelance web developer based in Hong Kong</p>
    <p>In the last 6 months I have ...</p>
    <i>empowered myself to <b>create</b> digital products and</li></i>
    <i>bolstered my understanding of <b>entreprenuership</b>,</li></i>
    <i>so that I can <b>craft</b> my own future<strong> "</strong></li></i>
  </div>
  <img id="portrait" src="images/portrait.jpg" alt="">
</section>

<section id="portfolio">
  <span>My Portfolio</span>
  <h1>Here's different projects I've been working on ...</h1>
  <ul class="shots">
    <li><a><img class="shot shot-1" src="images/hair.png"></a></li>
    <li><a><img class="shot shot-2" src="images/shuttlefish.png"></a></li>
    <li><a><img class="shot shot-3" src="images/datascience.png"></a></li>
    <li><a><img class="shot shot-4" src="images/stock.png"></a></li>
    <li><a href="/"><img class="shot shot-5" src="images/neca.png"></a></li>
    <li><a><img class="shot shot-6" src="images/teamfinder.png"></a></li>
  </ul>
  <div id="skills" class="singleButton">
        <a href="https://github.com/kenNg1" class="arrowFade btn dribbbleIcon" target="_blank">See more on my <b>Github</b> profile</a>
  </div>
</section>
<section id="aboutMe">
    <div class="col-6">
      <span>I add value through</span>
      <div class="tile"><i class="fa fa-paint-brush" aria-hidden="true"></i>CREATIVITY</div>
      <div class="tile"><i class="fa fa-line-chart" aria-hidden="true"></i>ANALYSIS</div>
      <div class="tile"><i class="fa fa-users" aria-hidden="true"></i>COLLABORATION</div>
    </div>
    <div class="col-6">
      <span>My Technical Skills</span>
      <div id="chart"></div>
    </div>
</section>

<!-- <div class="arrow2 return_scroll">
  <a href="#backtotop">Return to top</a>
</div> -->
<section id="timeline">
  <span>My Timeline</span>
<% include ../partials/animatedline %>
</section>
