<% layout('layout') -%>
<a id="backtotop"></a>
<section id="top">
  <h1 id="opener">HELLO, I'M KEN A
     <span>WEB DEVELOPER</span>
  </h1>
  <div class="intro">
    <p><strong>" </strong>Thanks for visiting my porfolio. I'm a freelance web developer based in Hong Kong</p>
    <p>In the last 6 months I have ...</p>
    <i>empowered myself to <b>create</b> digital products and</li></i>
    <i>bolstered my understanding of <b>entreprenuership</b>,</li></i>
    <i>so that I can <b>craft</b> my own future<strong> "</strong></li></i>
  </div>
  <img id="portrait" src="images/portrait.jpg" alt="">
</section>

<div class="arrow1 return_scroll">
    <a href="#portfolio">Return to top</a>
</div>

<section id="portfolio">
  <span>My Portfolio</span>
  <h1>Here's some stuff I've been working on.</h1>
  <ul class="shots">
    <li><a><img class="shot shot-1" src="images/hair.png"></a></li>
    <li><a><img class="shot shot-2" src="images/hair.png"></a></li>
    <li><a><img class="shot shot-3" src="images/hair.png"></a></li>
    <li><a><img class="shot shot-4" src="images/hair.png"></a></li>
    <li><a href="/"><img class="shot shot-5" src="images/neca.png"></a></li>
    <li><a><img class="shot shot-6" src="images/hair.png"></a></li>
  </ul>
  <div class="singleButton">
        <a href="https://github.com/kenNg1" class="arrowFade btn dribbbleIcon" target="_blank">See more on my <b>Github</b> profile</a>
  </div>
</section>

<section id="aboutMe">
  <span>Who am I?</span>
  <div class="twoColContent">
    <p>Lorem ipsum.</p>
    <p>Lorem ipsum.</p>

    <p>Lorem ipsum. <a href="#contactMe">let's talk</a>.</p>
    <p>Lorem ipsum.</p>
    <a href="#contactMe">Let's Talk</a>
  </div>
  <div id="chart"></div>
</section>

<script type="text/javascript">
var w = 500,
h = 500;

var colorscale = d3.scale.category10();

//Data
var d = [
    [
    {axis:"HTML/CSS",value:5},
    {axis:"Javascript",value:3.5},
    {axis:"NodeJS/Express",value:3},
    {axis:"Ember",value:4},
    {axis:"Angular",value:3},
    {axis:"Python",value:2},
    {axis:"Firebase",value:4},
    {axis:"PostgreSQL",value:4},
    {axis:"Ruby on Rails",value:4},
    ]
  ];

//Options for the Radar chart, other than default
var mycfg = {
w: w*.55,
h: h*.55,
radius: 4,
maxValue: 5,
levels: 10,
ExtraWidthX: 300
}

//Call function to draw the Radar chart
//Will expect that data is in %'s
RadarChart.draw("#chart", d, mycfg);

</script>

<!-- <div class="arrow2 return_scroll">
  <a href="#backtotop">Return to top</a>
</div> -->

<% include ../partials/animation %>
