<% layout('layout') -%>
<a id="backtotop"></a>
<section id="top">
  <h1 id="opener">HELLO, I'M KEN A
     <span>WEB DEVELOPER</span>
  </h1>
  <div class="intro">
    <p><strong>" </strong>Thanks for visiting my porfolio. I'm a freelance web developer based in Hong Kong</p>
    <p>In the last 6 months I have ...</p>
    <i>empowered myself to <b>create</b> digital products and</li></i>
    <i>bolstered my understanding of <b>entreprenuership</b>,</li></i>
    <i>so that I can <b>craft</b> my own future<strong> "</strong></li></i>
  </div>
  <img id="portrait" src="images/portrait.jpg" alt="">
</section>

<div class="arrow1 return_scroll">
    <a href="#portfolio">Return to top</a>
</div>

<section id="portfolio">
  <span>My Portfolio</span>
  <h1>Here's some stuff I've been working on.</h1>
  <ul class="shots">
    <li><a><img class="shot shot-1" src="images/hair.png"></a></li>
    <li><a><img class="shot shot-2" src="images/hair.png"></a></li>
    <li><a><img class="shot shot-3" src="images/hair.png"></a></li>
    <li><a><img class="shot shot-4" src="images/hair.png"></a></li>
    <li><a href="/"><img class="shot shot-5" src="images/neca.png"></a></li>
    <li><a><img class="shot shot-6" src="images/hair.png"></a></li>
  </ul>
  <div class="singleButton">
        <a href="https://github.com/kenNg1" class="arrowFade btn dribbbleIcon" target="_blank">See more on my <b>Github</b> profile</a>
  </div>
</section>

<section id="aboutMe">
  <span>Who am I?</span>
  <div class="twoColContent">
    <p>My love of all things design started at an early age, always having that creative edge. This love and passion flourished further when I discovered how to create things with code and my inner geek truly developed.</p>
    <p>Through my years as a UI designer I have had the privilege to have worked with some incredibly talented people - In-house design teams &amp; creative agencies big &amp; small.</p>
    <p>In 2016, I finally made the decision to go it alone and put all the knowledge I’ve learned over the years into becoming a freelance UI designer - and, great news - I have availability for your upcoming UI design project so <a href="#contactMe">let's talk</a>.</p>
    <p>When I'm not sat behind my Mac I'm just your regular family kinda guy, who loves sport and something good to eat.</p>
    <a href="#contactMe">Let's Talk</a>
  </div>
</section>

<!-- <div class="arrow2 return_scroll">
  <a href="#backtotop">Return to top</a>
</div> -->

<div style="border: 1px solid black" class="spacer s2"></div>
<div id="trigger1" class="spacer s0"></div>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="5000" height="5000">
	<path id="word" style="stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 1009.23px; stroke-dashoffset: 1009.23px;" fill="none" stroke="#000000" stroke-width="2"
  d="M182.73102381321428,271.7546825765847 C251.15940951270568,493.7517158692589 526.1300801177704,425.00715398523016 633.9744118497781,436.35918890438893 C1059.6757213182382,373.92299684901514 1103.4027281742287,546.5172724546908 1113.5978871842394,566.9075904747157 C1151.0135837635999,641.7389836334365 883.6879554822065,711.6460356939899 838.3110403946375,711.6460356939899 C751.6774057888872,711.6460356939899 656.2144029020271,723.6584881163204 574.3762285241944,740.0261229918871 C551.3466676325093,744.6320351702241 534.640965449529,735.295061489701 514.7780451986105,728.6740880727282 C460.6361458785764,710.6267882993834 370.11975920997315,734.3322923699436 318.9554428431204,745.7021404514664 C258.07082427430805,759.2320556889803 170.86456912096037,784.6539330311131 154.35093651531702,850.7084634536858 C141.4751128073035,902.2117582857403 157.52579597062982,945.9501812644025 199.75907619195254,967.0668213750639 C253.21701573138398,993.7957911447797 634.0762011819909,952.8767777261154 721.9526824732593,952.8767777261154 C764.0141959672526,952.8767777261154 851.3772153511945,937.5628653847754 883.7191800712728,969.9048301048537 C969.7407914015914,1055.9264414351721 966.3848323908521,1085.536389714877 912.0992673691701,1194.1075197582409 C892.374055770639,1233.5579429553027 771.9054153115092,1225.9007759197873 753.1707785009462,1188.4315022986614 C720.3700892112361,1122.830123719241 736.6321760139567,1111.5605416484648 792.902900718002,1083.4251792964421 C810.3111809227407,1074.7210391940728 839.769985672817,1063.923854507459 861.0151102329551,1069.2351356474935 C957.2110739119514,1093.2841265672425 945.9788258184092,1136.9942525459724 977.3734681543335,1199.7835372178204 C983.6116513047361,1212.2599035186258 980.2114768841232,1239.4746431046121 980.2114768841232,1253.7057030838248 C980.2114768841232,1266.0544867396688 984.2616518103216,1314.9297289427898 974.5354594245434,1324.6559213285677 C924.3340069335952,1374.8573738195164 817.5361830698596,1407.4934323419036 741.8187435817872,1418.3102094116282 C706.1381124595885,1423.407442429085 698.8419496602485,1412.6341919520487 662.3544991476754,1412.6341919520487 C408.5189029135431,1412.6341919520487 196.92106746216268,1372.6715339296798 196.92106746216268,1682.2450212820713" >
	<path id="dot" style="stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 44.2974px; stroke-dashoffset: 44.2974px;" fill="none" stroke="#000000" stroke-width="2"
  d="M182.73102381321428,271.7546825765847 C251.15940951270568,493.7517158692589 526.1300801177704,425.00715398523016 633.9744118497781,436.35918890438893 C1059.6757213182382,373.92299684901514 1103.4027281742287,546.5172724546908 1113.5978871842394,566.9075904747157 C1151.0135837635999,641.7389836334365 883.6879554822065,711.6460356939899 838.3110403946375,711.6460356939899 C751.6774057888872,711.6460356939899 656.2144029020271,723.6584881163204 574.3762285241944,740.0261229918871 C551.3466676325093,744.6320351702241 534.640965449529,735.295061489701 514.7780451986105,728.6740880727282 C460.6361458785764,710.6267882993834 370.11975920997315,734.3322923699436 318.9554428431204,745.7021404514664 C258.07082427430805,759.2320556889803 170.86456912096037,784.6539330311131 154.35093651531702,850.7084634536858 C141.4751128073035,902.2117582857403 157.52579597062982,945.9501812644025 199.75907619195254,967.0668213750639 C253.21701573138398,993.7957911447797 634.0762011819909,952.8767777261154 721.9526824732593,952.8767777261154 C764.0141959672526,952.8767777261154 851.3772153511945,937.5628653847754 883.7191800712728,969.9048301048537 C969.7407914015914,1055.9264414351721 966.3848323908521,1085.536389714877 912.0992673691701,1194.1075197582409 C892.374055770639,1233.5579429553027 771.9054153115092,1225.9007759197873 753.1707785009462,1188.4315022986614 C720.3700892112361,1122.830123719241 736.6321760139567,1111.5605416484648 792.902900718002,1083.4251792964421 C810.3111809227407,1074.7210391940728 839.769985672817,1063.923854507459 861.0151102329551,1069.2351356474935 C957.2110739119514,1093.2841265672425 945.9788258184092,1136.9942525459724 977.3734681543335,1199.7835372178204 C983.6116513047361,1212.2599035186258 980.2114768841232,1239.4746431046121 980.2114768841232,1253.7057030838248 C980.2114768841232,1266.0544867396688 984.2616518103216,1314.9297289427898 974.5354594245434,1324.6559213285677 C924.3340069335952,1374.8573738195164 817.5361830698596,1407.4934323419036 741.8187435817872,1418.3102094116282 C706.1381124595885,1423.407442429085 698.8419496602485,1412.6341919520487 662.3544991476754,1412.6341919520487 C408.5189029135431,1412.6341919520487 196.92106746216268,1372.6715339296798 196.92106746216268,1682.2450212820713"  >
</svg>
<div class="spacer s2"></div>
<script>
	function pathPrepare ($el) {
		var lineLength = $el[0].getTotalLength();
		$el.css("stroke-dasharray", lineLength);
		$el.css("stroke-dashoffset", lineLength);
	}

	var $word = $("path#word");
	var $dot = $("path#dot");

	// prepare SVG
	pathPrepare($word);
	pathPrepare($dot);

	// init controller
	var controller = new ScrollMagic.Controller();

	// build tween
	var tween = new TimelineMax()
		.add(TweenMax.to($word, 6, {strokeDashoffset: 0, ease:Linear.easeNone})) // draw word for 0.9
		.add(TweenMax.to($dot, 0.1, {strokeDashoffset: 0, ease:Linear.easeNone}))  // draw dot for 0.1
		.add(TweenMax.to("path", 1, {stroke: "#33629c", ease:Linear.easeNone}), 0);			// change color during the whole thing

	// build scene
	var scene = new ScrollMagic.Scene({triggerElement: "#trigger1", duration: 200, tweenChanges: true})
					.setTween(tween)
					.addIndicators() // add indicators (requires plugin)
					.addTo(controller);
</script>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
